.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/boh-tile.png');
    background-blend-mode: soft-light;
    background-position: right 10px bottom 10px;
    ;
    background-size: 100px;
    background-repeat: repeat;
    background-color: #bb9982;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#page-title {
    display: flex;
    font-family: "Noto Sans";
    color: #463131;
    justify-content: left;
    padding-left: 20px;
    backdrop-filter: blur(10px);
    width: fit-content;
    height: fit-content;
}

#category-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
    font-family: "Noto Sans";
    list-style-type: none;
    padding-left: 2rem;
    margin: 20px;
    padding: 0;
}

#Gear {
    margin: 20px;
    color: white;
    border: 2px solid rgb(233, 123, 32);
    padding: 20px;
    background-color: #c02e0d;
    max-width: 300px;
    font-size: xx-large;
    font-weight: bold;
}

#Books {
    margin: 20px;
    color: white;
    border: 2px solid rgb(84, 145, 37);
    padding: 20px;
    background-color: #2a7920;
    max-width: 300px;
    font-size: xx-large;
    font-weight: bold;
}

#Treasure {
    margin: 20px;
    color: white;
    border: 2px solid rgb(164, 87, 215);
    padding: 20px;
    background-color: #8032c0;
    max-width: 300px;
    font-size: xx-large;
    font-weight: bold;
}

#Potions {
    margin: 20px;
    color: white;
    border: 2px solid rgb(114, 169, 245);
    padding: 20px;
    background-color: #1783dc;
    max-width: 300px;
    font-size: xx-large;
    font-weight: bold;
}

#Gear:hover {
    color: rgb(187, 183, 183);
    background-color: #79220e;
    border: 2px solid rgb(255, 255, 255);
}

#Books:hover {
    color: rgb(187, 183, 183);
    background-color: #184712;
    border: 2px solid rgb(255, 255, 255);
}

#Treasure:hover {
    color: rgb(187, 183, 183);
    background-color: #501d79;
    border: 2px solid rgb(255, 255, 255);
}

#Potions:hover {
    color: rgb(187, 183, 183);
    background-color: #115892;
    border: 2px solid rgb(255, 255, 255);
}