.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/boh-tile.png');
    background-blend-mode: soft-light;
    background-position: right 10px bottom 10px;
    ;
    background-size: 100px;
    background-repeat: repeat;
    background-color: #bb9982;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

#page-title {
    display: flex;
    font-family: "Noto Sans";
    color: #463131;
    justify-content: left;
    padding-left: 20px;
    backdrop-filter: blur(10px);
    width: fit-content;
    height: fit-content;
}

#dashboard-desc {
    margin: 20px;
    text-wrap: wrap;
    font-weight: bold;
    max-width: 800px;
    backdrop-filter: blur(10px);
    width: fit-content;
    height: fit-content;
}

#dashboard-list {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    list-style-type: none;
    padding-left: 2rem;
    margin: 20px;
    padding: 0;
}

#dashboard-list li {
    margin: 20px;
    border: 2px solid white;
    padding: 20px;
    background-color: #efdccf;
    max-width: 300px;
}

#item-name {
    color: #623532;
    font-weight: bold;
    font-size: large;
    text-wrap: wrap;
}

#item-desc {
    color: #322e2e;
    font-weight: thin;
    font-size: small;
    text-wrap: wrap;
}